nav {
    background-color: #f2f2f2;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  ul {
    list-style-type: none;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  form {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-right: 5px;
  }
  
  button[type="submit"] {
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  