/* LandingPage.css */

@font-face {
  font-family: 'Italianno';
  src: url('../../../public/fonts/Italianno-Regular.ttf') format('truetype');
}
.landing-page {
  background-color: #9D5CEF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.image-container {
  background-color: #404040;
  width: 100%;
  height: 100%;
  max-height: 1033px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./kisspng-wedding-invitation-clip-art-lover-wedding-5aa46fefd00ca3.0181652115207259998522.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity:0.7;
  top: 10%;
}
.enter-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: #9D5CEF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.enter-button:hover {
  background-color: #814AD9;
}
/* LandingPage.css */
.wedding-planner {
  font-family: 'Italianno', cursive;
  font-size: 80px;
  color: white;
  position: absolute;
  top: 0;
  right: 40%;
}
.plan-your-own-wedding {
  font-family: 'Italianno', cursive;
  font-size: 40px;
  color: white;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}







