/* Gallery.css */

.gallery {
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: repeat(2, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #808080;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
  }
  
  .image-placeholder {
    width: 100%;
    height: 100%;
    background-color: #C0C0C0;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .book-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #404040;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .book-button:hover {
    background-color: #333;
  }
  