.confirmation-booking {
    background-color: #9D5CEF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Italianno', cursive;
    color: white;
    position: relative;
    width: 80%;
    max-width: 800px;
  }
  
  .wedding-title {
    font-size: 48px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .wedding-date {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .wedding-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px; /* increased margin-bottom to create more distance */
  }
  
  .wedding-theme,
  .wedding-location {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .wedding-image {
    position: absolute;
    top: 50%;
    right: 0;
    max-height: 150px;
    transform: translateY(-50%);
  }
  
  .booking-link {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
  }
  